/* Copy and paste any or all of these css entries into your custom.css file inside your
 * css folder. The functions are annotated to make things as easy as possible for you.
 * Use any colors you want! Go to - "http://htmlcolorcodes.com/color-picker/"
 * Pick your color, copy and paste the HEX number. Example - #62FF00 = bright green.
 */

.MMM-SunRiseSet .header {
  color: white;               /* Header color. Default is white. */
}

.MMM-SunRiseSet .img { 
/*  display: none;              uncomment if you don't want animated image */           
  width: 100%;                /* adjust size of image. Retains aspet ratio */  
  margin-left: 0px;          /* Precisely align image with these */
  margin-right: 0px;         /* world = Adjust for different regions and images */
  margin-top: 5px;         /* world = -45 Adjust for different regions and images */
  margin-bottom: -5px;      /* world = -55 Adjust for different regions and images */
  float: center;
}


.MMM-SunRiseSet .sunrise {
  color: white;               /* sunrise color. Default is white. */
	text-align: center;
}

.MMM-SunRiseSet .sunset {
  color: white;               /* sunset color. Default is white. */
	display: none;
}

.MMM-SunRiseSet .solar_noon {
  color: white;               /* solar_noon color. Default is white. */
	display: none;
}

.MMM-SunRiseSet .day_length {
  color: white;               /* day_length color. Default is white. */
	text-align: center;
}

.MMM-SunRiseSet .civil_twilight_begin {
  color: white;               /* civil_twilight_begin color. Default is white. */
  display: none;
}

.MMM-SunRiseSet .civil_twilight_end {
  color: white;               /* civil_twilight_end color. Default is white. */
  display: none;
}

.MMM-SunRiseSet .nautical_twilight_begin {
  color: white;               /* nautical_twilight_begin color. Default is white. */
  display: none;
}

.MMM-SunRiseSet .nautical_twilight_end {
  color: white;               /* nautical_twilight_end color. Default is white. */
  display: none;
}

.MMM-SunRiseSet .astronomical_twilight_begin {
  color: white;               /* astronomical_twilight_begin color. Default is white. */
  display: none;
}

.MMM-SunRiseSet .astronomical_twilight_end {
  color: white;               /* astronomical_twilight_end color. Default is white. */
  display: none;
}